#!/usr/bin/env fish
eval (/opt/homebrew/bin/brew shellenv)
echo '
{{ range .core.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .core.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .core.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .core.vscodes -}}
vscode {{ . | quote }}
{{ end -}}

{{ range .ide.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .ide.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .ide.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .ide.vscodes -}}
vscode {{ . | quote }}
{{ end -}}

{{ range .utils.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .utils.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .utils.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .utils.vscodes -}}
vscode {{ . | quote }}
{{ end -}}

{{ range .shell.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .shell.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .shell.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .shell.vscodes -}}
vscode {{ . | quote }}
{{ end -}}

{{ range .cpp.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .cpp.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .cpp.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .cpp.vscodes -}}
vscode {{ . | quote }}
{{ end -}}

{{ range .cs_225.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .cs_225.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .cs_225.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .cs_225.vscodes -}}
vscode {{ . | quote }}
{{ end -}}


{{ range .cs_233.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .cs_233.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .cs_233.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .cs_233.vscodes -}}
vscode {{ . | quote }}
{{ end -}}


{{ range .ruby.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .ruby.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .ruby.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .ruby.vscodes -}}
vscode {{ . | quote }}
{{ end -}}

{{ range .python.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .python.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .python.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .python.vscodes -}}
vscode {{ . | quote }}
{{ end -}}

{{ range .manim.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .manim.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .manim.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .manim.vscodes -}}
vscode {{ . | quote }}
{{ end -}}

{{ range .apps.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .apps.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .apps.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .apps.vscodes -}}
vscode {{ . | quote }}
{{ end -}}

' | brew bundle --no-lock --file=/dev/stdin
